@charset "utf-8";

header{
  margin-top: 30px;
  color: #43A047;
}
hr{
  border-width: 3px;
  border-color: #43A047;
}
h1{
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
#form{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
input:required{
  background: #ffcdd2;
}
input:valid{
  background: transparent;
}
input:focus{
  background: #DCEDC8;
}

.sample-box-1 {
  border: 2px solid #da4033;
  border-radius: 4px;
  margin: 2em 0;
  padding: 2em;
  position: relative;
  width: 40%;
  margin-right: 0;
}
.sample-box-1::before {
  background-color: #fff;
  color: #da4033;
  content: "HEAD";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  margin-right: 0;
  top: -1em;
}
.sample-box-2 {
  border: 2px solid #da4033;
  border-radius: 4px;
  margin: 2em 0;
  padding: 2em;
  position: relative;
  width: 40%;
}
.sample-box-2::before {
  background-color: #fff;
  color: #da4033;
  content: "BODY";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;


}
.view-count {
  border: 2px solid #da4033;
  border-radius: 4px;
  margin: 2em 0;
  padding: 2em;
  position: relative;
  width: 60%;
}
.view-count::before {
  background-color: #fff;
  color: #da4033;
  content: "ViewCount";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
}
.click-trigger {
  border: 2px solid #da4033;
  border-radius: 4px;
  margin: 2em 0;
  padding: 2em;
  position: relative;
  width: 60%;
}
.click-trigger::before {
  background-color: #fff;
  color: #da4033;
  content: "ClickCount";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
}
.js-trigger{
  border: 2px solid #da4033;
  border-radius: 4px;
  margin: 2em 0;
  padding: 2em;
  position: relative;
  width: 60%;
}

.js-trigger::before{
  background-color: #fff;
  color: #da4033;
  content: "エラートリガ";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
}

.click{
  width: 40%;
}
.tag{
  width: 100%;
  display: flex;
  justify-content: center;
}
button {
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;
  margin: 50px 100px;
}
button:hover {
	background: #EC407A;
	color: #fff;
}
